body {
    font-family: "Roboto", sans-serif;
    background-color: #eeeeee;
    padding: 10px;
    display: flex;
    justify-content: center;
}

header {
    background-color: #cf2b2b;
    height: 92px;
    width: 414px;
    max-width: 414px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.logo {
    font-family: "Righteous", sans-serif;
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
    margin-left: 21px;
}

.logo-subtitulo {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 18px;
    margin-left: 21px;
}

main {
    margin-top: 92px;
    margin-bottom: 92px;
    width: 414px;
    display: flex;
    flex-direction: column;
}







footer {
    background-color: #ffffff;
    width: 414px;
    max-width: 414px;
    height: 92px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > button {
    background-color: #cbcbcb;
    height: 61px;
    width: 364px;
    max-width: 364px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    border: none;
}